.parafia-header {
  background-image: url("./resources/inside.jpg");
  background-position: bottom center;
  padding-bottom: 20px;
  text-align: center;
}

.parafia {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.parafia h3 {
  margin-top: 0.6em;
}

.parafia p {
  margin-top: 1rem;
}

.parafia-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1600px;
  padding: 2rem 1rem;
  width: 100%;
  scroll-margin-top: 110px;
}
.parafia-container img {
  box-shadow: 7px 7px var(--color-bg2);
  margin-bottom: 1rem;
}

@media screen and (max-width: 1105px) {
  .parafia-container {
    scroll-margin-top: 80px;
  }
}
@media screen and (max-width: 900px) {
  .parafia-container {
    padding: 2rem 0.5rem;
  }
}
@media screen and (max-width: 700px) {
  .parafia-container {
    scroll-margin-top: 65px;
  }
}
