* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-bg);
  font-family: "Montserrat", sans-serif;
  font-size: 1.1em;
}

a {
  color: unset;
  text-decoration: none;
}

ul {
  list-style: none;
}

.section-pading {
  padding: 4rem 6rem;
}

.section-margin {
  margin: 4rem 6rem;
}

.title {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.title h2 {
  display: inline-block;
}

.title-with-top {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

.title-with-top h2 {
  display: inline-block;
}

.title-top {
  display: none;
  flex-direction: column;
  width: fit-content;
  width: 100%;
  max-width: 65ch;
}

.title-top .title-separator {
  margin-bottom: 1rem;
}

.title-top h2 {
  display: inline-block;
}

.title-separator {
  height: 1px;
  background-color: var(--color-footer);
  margin-top: 6px;
  margin-bottom: 2rem;
}

.header-page {
  background-color: var(--color-footer);
  background-size: cover;
  padding-top: 200px;
  background-blend-mode: multiply;
  color: white;
  font-size: 2rem;
  width: 100%;
}

.header-page h1 {
  margin-left: 3rem;
}

.video-wrapper {
  width: 700px;
  height: 393.75px;
  position: relative;
  margin: 2rem 1rem;
  box-shadow: 15px 15px var(--color-bg2),
    rgba(0, 0, 0, 0.56) 0px 22px 80px 13px;
}

.video-wrapper iframe {
  width: 100%;
  max-width: 900px;
  height: 100%;
  position: absolute;
}

.text-no-wrap {
  white-space: nowrap;
}
@media screen and (max-width: 1400px) {
  .title-top {
    order: -2;
    display: flex;
  }
  .title-with-top {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .header-page h1 {
    font-size: 1.3em;
    margin-left: 1rem;
  }

  .video-wrapper {
    width: 100%;
    padding-bottom: 56%;
    height: auto;
    position: relative;
    margin: 2rem 1rem;
  }
}

@media screen and (max-width: 700px) {
  .secion-pading {
    padding: 4rem;
  }

  .section-margin {
    margin: 4rem;
  }
}

@media screen and (max-width: 700px) {
  .secion-pading {
    padding: 4rem 2rem;
  }

  .section-margin {
    margin: 4rem 2rem;
  }
}
