.sakramenty-header {
  background-image: url("./resources/sakramenty2.jpg");
  background-color: var(--color-footer);
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 20px;
  background-blend-mode: multiply;
  background-position: bottom;
  color: white;
  font-size: 2rem;
  text-align: center;
}

.sakramenty-header h1 {
  margin-left: 3rem;
}

.sakramenty {
  margin-bottom: 2rem;
}

.sakramenty-buttons {
  display: flex;
  flex-wrap: wrap;
  padding: 2rem;
  padding-top: 4rem;
  width: 100%;
  justify-content: center;
}

.sakramenty-button {
  margin: 0.5rem;
  height: 150px;
  background-color: var(--color-bg2);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px black;
  color: white;
  min-width: 125px;
}

.sakramenty-button img {
  height: 70px;
  object-fit: contain;
}

.sakramenty-button:hover {
  color: var(--color-text);
  background-color: var(--color-bg);
}

.sakramenty-button-active {
  color: var(--color-text);
  background-color: var(--color-bg);
}

.sakramenty-button p {
  margin: 0 0.5rem;
  font-size: 0.5em;
  width: 125px;
}

.sakramenty-content {
  display: flex;
  justify-content: center;
  max-width: 1600px;
  margin: 2rem auto;
}

.sakramenty-button:hover {
  cursor: pointer;
}

.sakramenty-single {
  margin: auto;
  max-width: 1600px;
  align-items: center;
}

.sakramenty-single img {
  box-shadow: 15px 15px var(--color-bg2);
}

.sakramenty h3 {
  margin: 0.6em 0;
}

@media screen and (max-width: 1100px) {
  .sakramenty-content img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .sakramenty-buttons {
    padding: 1rem;
  }
}

@media screen and (max-width: 900px) {
  .sakramenty-buttons {
    padding: 0.7rem;
  }
  .sakramenty-header h1 {
    font-size: 1.3em;
    margin-left: 5px;
  }

  .sakramenty-button {
    margin: 0.3rem;
    height: 105px;
    font-size: 0.85em;
    min-width: 115px;
  }

  .sakramenty-button img {
    height: 50px;
  }

  .sakramenty-button p {
    width: 115px;
  }
}

@media screen and (max-width: 450px) {
  .sakramenty-button p {
    width: 105px;
    margin: 0 0.15rem;
  }

  .sakramenty-buttons {
    padding: 0.15rem;
  }
  .sakramenty-button {
    margin: 0.15rem;
  }
}
