.sakramenty-header {
  background-image: url("./resources/sakramenty2.jpg");
  background-color: var(--color-footer);
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 20px;
  background-blend-mode: multiply;
  background-position: bottom;
  color: white;
  font-size: 2rem;
}

.sakramenty {
  margin-bottom: 2rem;
}

.sakramenty-header h1 {
  margin-left: 3rem;
}

.sakramenty-buttons {
  display: flex;
  gap: 3rem;
  padding: 2rem;
  padding-top: 4rem;
  width: 100%;
  justify-content: center;
}

.sakramenty-button {
  width: 120px;
  height: 150px;
  background-color: var(--color-bg2);
  border-radius: 1rem;
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px black;
  color: white;
  font-size: 1rem;
}

.sakramenty-content {
  display: flex;
  justify-content: center;
  font-size: 1.3em;
}

.sakramenty-button:hover {
  cursor: pointer;
}

.sakramenty-single {
  margin: 3rem;
  max-width: 1500px;
  align-items: center;
}

.sakramenty-single img {
  box-shadow: 15px 15px var(--color-bg2);
}

.sakramenty h3 {
  margin: 0.6em 0;
}

@media screen and (max-width: 1100px) {
  .sakramenty-content img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .sakramenty-buttons {
    padding: 2rem 1rem;
    flex-wrap: wrap;
  }
}
