.forms {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.forms button {
  font-size: 1.5rem;
  width: 200px;
}

.forms input {
  font-size: 1.5rem;
}

.forms textarea {
  font-size: 1.5rem;
}
