.carousel-container {
  width: 100%;
  height: 475px;
  margin: 1rem;
  max-width: 1000px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  overflow: hidden;
  box-shadow: 7px 7px var(--color-bg2);
  flex-basis: calc(750px - 5rem);
  flex-shrink: 1;
}

.next,
.prev {
  top: calc(50% - 20px);
  position: absolute;
  background: white;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  z-index: 2;
}

.next {
  right: 10px;
}

.prev {
  left: 10px;
  transform: scale(-1);
}

.carousel-container img {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  box-shadow: none;
  margin: 0;
}

.refresh {
  padding: 10px;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media screen and (max-width: 1400px) {
  .carousel-container {
    flex-basis: 43.3ch;
    max-width: 65ch;
    order: -1;
    width: calc(100% - 10px);
  }
}

@media screen and (max-width: 700px) {
  .carousel-container {
    flex-basis: 350px;
    max-width: 525px;
  }
}

@media screen and (max-width: 400px) {
  .carousel-container {
    flex-basis: 250px;
    max-width: 375px;
  }
}
