.headerao {
  background-image: url("./resources/bible.jpg");
  background-color: var(--color-footer);
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  background-blend-mode: multiply;
  background-position: bottom;
  color: white;
  font-size: 2rem;
  width: 100%;
  text-align: center;
}

.headerao-icons {
  padding-bottom: 20px;
}

.headarao-icons a {
  width: 100px;
}

.headerao h1 {
  text-align: center;
}

@media screen and (max-width: 800px) {
  .headerao h1 {
    font-size: 1.3em;
    margin-left: 1rem;
  }
}
