.headerao {
  background-image: url("./resources/bible.jpg");
  background-color: var(--color-footer);
  background-size: cover;
  padding-top: 200px;
  padding-bottom: 200px;
  background-blend-mode: multiply;
  background-position: bottom;
  color: white;
  font-size: 2rem;
}

.headerao h1 {
  margin-left: 3rem;
}

@media screen and (max-width:800px) {
  .headerao h1{
    font-size: 1.3em;
    margin-left:  1rem;
  }
}