.ogloszenia-container h2 {
  font-family: "Marcellus", serif;
  padding: 3rem;
  padding-bottom: 0;
  text-align: center;
}

.ogloszenia-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 4rem;
  color: white;
}

.ogloszenia-container-all {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-radius: 30px;
  background-color: var(--color-bg2);
  box-shadow: 0px 0px 10px 5px black;
  width: 20%;
}

.ogloszenia-container-all-single {
  padding: 1em;
}

.ogloszenia-container-current {
  width: 80%;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-radius: 30px;
  background-color: var(--color-bg2);
  box-shadow: 0px 0px 10px 5px black;
  font-size: 1.3rem;
}

.ogloszenia-container-current-top {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.ogloszenia-container-current-top p {
  align-self: flex-end;
}



/* List */
.ogloszenia-container-current ul {
  counter-reset: index;
  padding: 0;
}

/* List element */
.ogloszenia-container-current li {
  counter-increment: index;
  display: flex;
  max-width: 60ch;
  align-items: center;
  padding: 2rem 2rem;
  box-sizing: border-box;
}

/* Element counter */
.ogloszenia-container-current li::before {
  content: counters(index, ".", decimal-leading-zero);
  text-align: right;
  font-weight: bold;
  min-width: 50px;
  padding-right: 20px;
  font-variant-numeric: tabular-nums;
  font-size: 1.2em;
}

/* Element separation */
.ogloszenia-container-current li + li {
  border-top: 1px solid black;
}

@media  screen and (max-width: 1100px) {
  .ogloszenia-container-current {
    font-size: 1rem;
  }

  .ogloszenia-container {
    margin: 1rem;
  }

  .ogloszenia-container-current li::before {
    min-width: 20px;
  }

  .ogloszenia-container-current li {
    padding: 1rem;
  }

  .ogloszenia-container h2 {
    padding: 1rem;
  }
  .ogloszenia-container-all-single {
    font-size: .8rem;
  }
}

@media  screen and (max-width: 800px) {
  .ogloszenia-container {
    flex-direction: column;
  }
  .ogloszenia-container-current {
    width: 100%;
    gap: 0;
  }
    .ogloszenia-container h2 {
    padding: 0;
  }
  .ogloszenia-container-all {
    width: 100%;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;

  }
  .ogloszenia-container-all h2 {
    width: 100%;
  }
}
