.ogloszenia {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ogloszenia-container h2 {
  padding: 3rem;
  padding-bottom: 0;
  text-align: center;
}

.ogloszenia-container {
  display: flex;
  justify-content: center;
  color: black;
  max-width: 1600px;
  margin: 2rem 1rem;
}

.ogloszenia-container-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin: 1rem 0.5rem;
}

.ogloszenia-container-current {
  max-width: 1300px;
  min-width: 60%;
  scroll-margin-top: 110px;
}

.ogloszenia-container-current-date {
  align-self: flex-end;
  font-size: 1.3em;
  font-weight: 600;
}

.ogloszenia-container-all {
  max-width: 500px;
  height: fit-content;
  overflow: hidden;
}

.ogloszenia-container-all-single {
  padding: 1rem;
  padding-bottom: 0.5rem;
  width: 100%;
}

.ogloszenia-container-all-single:hover {
  cursor: pointer;
  background-color: var(--color-bg2);
  color: white;
}

.ogloszenia-container-all-single-current {
  background-color: var(--color-bg2);
  color: white;
}

.ogloszenia-container-current-top {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  max-width: 65ch;
  width: 100%;
}

.ogloszenia-container-current-top p {
  align-self: flex-end;
}

/* List */
.ogloszenia-container-current ul {
  counter-reset: index;
}

/* List element */
.ogloszenia-container-current li {
  counter-increment: index;
  display: flex;
  max-width: 65ch;
  align-items: center;
  padding: 2rem 2rem;
  box-sizing: border-box;
}

/* Element counter */
.ogloszenia-container-current li::before {
  content: counters(index, ".", decimal-leading-zero);
  text-align: right;
  font-weight: bold;
  min-width: 50px;
  padding-right: 20px;
  font-variant-numeric: tabular-nums;
  font-size: 1.2em;
}

/* Element separation */
.ogloszenia-container-current li + li {
  border-top: 1px solid black;
}

@media screen and (max-width: 1400px) {
  .ogloszenia-container-current li::before {
    min-width: 20px;
  }

  .ogloszenia-container-current li {
    padding: 1rem;
  }
}

@media screen and (max-width: 1105px) {
  .ogloszenia-container {
    flex-direction: column;
    align-items: center;
  }
  .ogloszenia-container-box {
    margin: 1rem 0;
  }
  .ogloszenia-container-current {
    width: 100%;
    scroll-margin-top: 85px;
  }
  .ogloszenia-container h2 {
    padding-top: 0.3rem;
  }
  .ogloszenia-container-all {
    width: 100%;
    flex-direction: row;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  .ogloszenia-container-all h2 {
    width: 100%;
  }

  .ogloszenia-container-current li {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 900px) {
  .ogloszenia-container {
    margin: 2rem 0.5rem;
    font-size: 0.9em;
  }
}
