.navbar {
  display: flex;
  justify-content: center;
  height: 110px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}

.navbar-white {
  background-color: var(--color-bg);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.navbar-transparent .navbar-name {
  text-align: center;
  margin: 0.5rem;
  border-radius: 18px;
  background-color: var(--color-transparent-bg2);
  color: white;
  padding: 4px 8px;
}

.navbar-transparent .navbar-name:hover {
  background-color: var(--color-bg2);
}

.navbar .navbar-name {
  text-align: center;
  margin: 0.5rem;
  padding: 4px 8px;
}

.navbar-name:hover {
  cursor: pointer;
}

.navbar-button:hover {
  cursor: pointer;
}

.navbar-name h1 {
  font-size: 1em;
}

.navbar-name h2 {
  font-size: 0.8em;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  max-width: 1600px;
  width: 100%;
}

.navbar-links-list {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}

.navbar .navbar-links-list p {
  margin: 0 0.2rem;
  padding: 10px 5px;
  font-weight: 600;
}

.navbar-active .navbar-links-list p:hover {
  background-color: none;
}

.navbar-transparent .navbar-links-list p {
  background-color: var(--color-transparent-bg2);
  color: white;
  border-radius: 18px;
}

.navbar-transparent .navbar-links-list p:hover {
  background-color: var(--color-bg2);
}

.navbar-przy {
  display: inline-block;
}

.navbar-links-logo {
  padding-right: 1rem;
  user-select: none;
}

.navbar-links-logo img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.navbar .navbar-menu {
  margin: 0 1rem;
  display: none;
  font-weight: 600;
}

.navbar-transparent .navbar-menu {
  background-color: var(--color-transparent-bg2);
  color: white;
}

.navbar-white .navbar-menu {
  background-color: none;
  color: black;
}

.navbar-menu-svg-wrapper {
  height: 27px;
}

.navbar-menu svg {
  cursor: pointer;
  width: 27px;
  height: 27px;
}

.navbar-menu-container {
  color: black;
  background-color: var(--color-bg);
  display: flex;
  gap: 30px;
  font-size: larger;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  padding: 2rem;
  position: fixed;
  top: 0px;
  right: 0;
  min-width: 210px;
  height: 100vh;
  z-index: 1;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.navbar-menu-container::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

.button-navbar-hidden {
  color: var(--color-bg);
}
@media screen and (max-width: 1300px) {
  .navbar-przy {
    display: none;
  }
  .navbar-links-logo {
    padding-right: 0.1rem;
    user-select: none;
  }

  .navbar-links-logo img {
    width: 60px;
    height: 60px;
  }

  .navbar-links-list {
    font-size: 0.9em;
  }

  .navbar-name {
    text-align: center;
    margin: 0 0.2rem;
    font-size: 0.95em;
  }
}

@media screen and (max-width: 1105px) {
  .navbar {
    font-size: 0.95em;
    height: 90px;
  }

  .navbar-links-list {
    display: none;
  }
  .navbar .navbar-menu {
    display: flex;
  }

  .navbar-menu-svg-wrapper {
    height: 27px;
  }

  .navbar-przy {
    display: inline-block;
  }
}

@media screen and (max-width: 700px) {
  .navbar-links {
    padding: 0.5rem 0.5rem;
  }

  .navbar-przy {
    display: none;
  }

  .navbar-links-logo {
    padding-right: 0.5rem;
  }

  .navbar-links-logo img {
    width: 60px;
    height: 60px;
  }
  .navbar {
    height: 80px;
  }
}

@media screen and (max-width: 400px) {
  .navbar-name {
    font-size: 0.9em;
  }
}
