.navbar {
  display: flex;
  justify-content: center;
  background-color: var(--color-bg);
  height: 150px;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0px 0px 10px 5px black;
}

.navbar-name {
  text-align: center;
}

.navbar-name:hover {
  cursor: pointer;
}

.navbar-button:hover {
  cursor: pointer;
}

.navbar-name h1 {
  font-size: 1em;
}

.navbar-name h2 {
  font-size: 0.8em;
}

.navbar-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
  max-width: 1600px;
  width: 100%;
}

.navbar-links-list {
  display: flex;
  justify-content: space-between;
  width: 75%;
  gap: 25px;
}

.navbar-przy {
  display: inline-block;
}

.navbar-links-logo {
  padding-right: 2rem;
  user-select: none;
}

.navbar-links-logo img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.navbar-menu {
  margin-left: 1rem;
  display: none;
}
.navbar-menu-svg-wrapper {
  height: 27px;
}

.navbar-menu svg {
  cursor: pointer;
  width: 27px;
  height: 27px;
  margin-right: 10px;
}

.navbar-menu-container {
  background-color: var(--color-bg);
  display: flex;
  gap: 30px;
  font-size: larger;
  align-items: flex-end;
  flex-direction: column;
  text-align: end;
  padding: 2rem;
  position: fixed;
  top: 0px;
  right: 0;
  min-width: 210px;
  height: 100vh;
  z-index: 1;
  overflow-y: scroll;
}

.button-navbar-hidden {
  color: var(--color-bg);
}

@media screen and (max-width: 1600px) {
  .navbar-links-list {
    display: none;
  }

  .navbar-menu {
    display: flex;
  }

  .navbar-links {
    padding: 1rem 3rem;
  }
}

@media screen and (max-width: 700px) {
  .navbar-links {
    padding: 0.5rem 0.5rem;
  }

  .navbar-przy {
    display: none;
  }

  .navbar-links-logo {
    padding-right: 0.5rem;
  }

  .navbar-links-logo img {
    width: 60px;
    height: 60px;
  }
  .navbar {
    height: 80px;
  }
}

@media screen and (max-width: 400px) {
  .navbar-name {
    font-size: 0.66em;
  }
}
