.nabozenstwa-header {
  background-image: url("./resources/cross.jpg");
  background-position: top right;
  padding-bottom: 200px;
  text-align: center;
}

.nabozenstwa-content {
  max-width: 65ch;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
}

.nabozenstwa-content ul {
  list-style: disc;
  margin-left: 2rem;
  margin-right: 0.5rem;
}

.nabozenstwa-content li {
  padding: 1rem 0;
}
